@model CalculateTaxViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="text-center">
<h1 class="display-4">PaySpace Tax Calculator</h1>

<p>Income: @Model.Income</p>
<p>Tax Amount: @Model.Amount</p>
<p><input type="button" id="btnCalculate" value="Calculate Tax" /> </p>
</div>