@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<head>    
</head>
<body>
    @using (Html.BeginForm("calculatetax", "taxcalculator", FormMethod.Post))
    {

        <h3 style="text-align:center">Tax Calculator</h3>        
        <div class="form-horizontal">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="PostalCodes">Postal Code:</label>
                    <select asp-for="SelectedPostalCodeId" asp-items="Model.Codes" class="form-control">
                        <option value="" hidden disabled selected>Please select</option>
                    </select>
                    <span asp-validation-for="SelectedPostalCodeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Income">Income:</label>
                    <input asp-for="Income" class="form-control" />
                    <span asp-validation-for="Income" class="text-danger"></span>
                </div>
                <input type="submit" id="btnCalculate" class="btn btn-info" value="Submit" />
            </div>
            @*<p><input type="button" id="btnCalculate" value="Calculate Tax" /> </p>*@
        </div>

    }

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*  *@
    @*<script>         
            $(document).ready(function () {
                $("#btnCalculate").click(function (e) {
                    e.preventDefault();
                    var request = JSON.stringify({ "TaxViewModel": { Test: "sdf" } });
                    console.log(request);
                    $.ajax({
                        url: '/tax/CalculateTax',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        data: request,
                        contentType: "application/json",
                        success: function (data) {
                            alert(data.success);
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                })
            });
        </script>*@

</body>
