@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">PaySpace Tax Calculator</h1>

        @*<p>@Html.DropDownListFor(m=> m.PostalCodes,)</p>*@
        <p>Income: @Model.Income</p>
        <p>Tax Amount: @Model.Amount</p>
    </div>
    