@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>
<body>
    @using (Html.BeginForm("calculatetax", "home", FormMethod.Post))
    {
        <div class="text-center">
            <h1 class="display-4">PaySpace Tax Calculator</h1>

            <p>
                @Html.DropDownListFor(m => m.SelectedPostalCodeId, new SelectList(Model.PostalCodes, "Id", "Code"), "Please select", new { id = "ddlPostalCodes" })
            </p>
            <p>Income: @Html.TextBoxFor(m => m.Income, new { id = "txtIncome" })</p>
            <p>Tax Amount: @Model.Amount</p>
            <p><input type="submit" id="btnCalculate" value="Submit" /></p>
            @*<p><input type="button" id="btnCalculate" value="Calculate Tax" /> </p>*@
        </div>
    }
</body>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
   
 @*<script>
     var homeViewModel = {
         Test: $('#txtIncome').val(),
     };
        $(document).ready(function () {
            $("#btnCalculate").click(function (e) {
                e.preventDefault();
                var request = JSON.stringify({ "HomeViewModel": { Test: "sdf" } });
                console.log(request);
                $.ajax({
                    url: '/home/CalculateTax',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: request,
                    contentType: "application/json",
                    success: function (data) {
                        alert(data.success);
                    },
                    error: function () {
                        alert("error");
                    }
                });
            })
        });
    </script>*@
